<div id="toDo" class="to-do-container">

  <div class="container">
    <div class="content-header"><h3>To Do</h3></div>

    <div class="row">
      <!-- To-Do Form to add new todos-->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 ">
        <app-to-do-form></app-to-do-form>
      </div>

      <!-- To-do list to manage existing todos-->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 ">
        <app-to-do-list></app-to-do-list>
      </div>

    </div>
  </div>

  <div class="to-do-footer"></div>
</div>

