.newspaper {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  column-gap: 1em;
  -moz-column-fill: auto;
  column-fill: auto;
  width: 100%;
  height:100%;
}

.newspaper-container {
  height: 210px;
  margin-bottom: 1em;
  overflow: auto;
}

/* Start : Overflow Scrollbar when out of bound*/
.newspaper-container::-webkit-scrollbar {
  height: 5px;
}

.newspaper-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

.newspaper-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
/* End : Overflow Scrollbar when out of bound*/


@media (max-width: 767px) {
  .newspaper {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;

    -moz-column-fill: balance;
    column-fill: balance;
  }

  .newspaper-container {
    height: auto;
  }
}
