
.weather-item-container {
  padding-top:10px;
  padding-bottom:10px;
}

.weather-item-body {
  width:200px;
  height:200px;

  margin:auto;
  background-color: #ededed;
  text-align: center;
  align-content: center;
  align-items: center;
  border: 1px solid darkgrey;
  border-radius: 10px;
}

.slick-center  {
}

.slick-center .weather-item-container  {
  margin-bottom: 10px;
  margin-top: -10px;
}

.slick-center .weather-item-container .weather-item-body {
  height: 220px;
}
