.product-item {
  margin-bottom: 1em;
}

img {
  max-height: 20em;
  margin: auto;
}

@media (min-width: 768px) {
  .description {
    text-align: center;
  }

  .image {
    padding-left: 3em;
    padding-right: 3em;
  }

}

.content {
  margin-top: 10px;
  margin-bottom: 10px;
}

