  <div class="row list-item" [ngClass]="{'completed': !toDo.state, 'lastToDo': lastToDo}" (mouseenter)="hovered=!hovered" (mouseleave)="hovered=!hovered">
    <div class="col-xs-10">
      <div class="row description">
        <div class="col-xs-2 ">
          <a class="tick" (click)="toggleState()"><span>&#x2714;</span></a>
        </div>
        <div class="col-xs-10 " style="word-wrap: break-word;">
          {{ toDo.description }}
        </div>
      </div>
    </div>
    <div class="col-xs-2 close">
      <span class="close-button"  *ngIf="hovered" (click)="removeElement()">
      &times;
      </span>
    </div>
  </div>


